{% extends 'base.html' %}
{% block content %}
<h2>Data schemas</h2>
<div class="col-md-9">
<a href="{% url 'add_scheme' %}" class="btn btn-success" style="float: right;">New schema</a>
<br>
<br>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Created at</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for s in object_list %}
    <tr>
        <th scope="row">{{ s.id }}</th>
        <td><a href="{% url 'single_scheme' s.id %}">{{ s.name }}</a></td>
        <td>{{ s.created_at|date:"Y-m-d H:i" }}</td>
        <td>
            <span>
            <a class="nav-text" href="{% url 'delete_scheme' s.id %}" style="color: red;">Delete</a></span>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}