{% extends 'base.html' %}
{% block content %}
<h2>{{ s.name }}</h2>
<div class="col-md-6">
<br>
<br>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Column name</th>
        <th scope="col">Column type</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    {% if  row.1 != 'Column' %}
    <tr>
        <th scope="row">{{ row.0|add:"1" }}</th>
        <td>{{ row.1 }}</td>
        <td>
{% if row.2 == '0' %}
{% elif row.2 == '1' %} Full Name
{% elif row.2 == '2' %} Job
{% elif row.2 == '3' %} Company
{% elif row.2 == '4' %} Integer
{% elif row.2 == '5' %} Text
{% elif row.2 == '6' %} E-mail
{% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
