{% extends 'base.html' %}
{% block content %}
<h2>{{ s.name }}</h2>
<div class="col-md-6">
<br>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Column name</th>
        <th scope="col">Column type</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    {% if  row.1 != 'Column' %}
    <tr>
        <th scope="row">{{ row.0}}</th>
        <td>{{ row.1 }}</td>
        <td>
{% if row.2 == '0' %}
{% elif row.2 == '1' %} Full Name
{% elif row.2 == '2' %} Job
{% elif row.2 == '3' %} Company
{% elif row.2 == '4' %} Integer
{% elif row.2 == '5' %} Text
{% elif row.2 == '6' %} E-mail
{% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
</div>
<h2>Data sets</h2>
<div class="col-md-9">
<form method="POST" action="{% url 'single_generate' pk %}" style="float: right">
    {% csrf_token %}
    <label for="rows" class="col-form-label">Rows: </label>
    <input type="number" name="rows" id="rows" style="width:70px">
    <button type="submit" class="btn btn-success">Generate data</button>
</form>
<br>
<br>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Created at</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for i in queryset %}
    <tr>
        <th scope="row">{{ i.id }}</th>
        <td>{{ i.created_at|date:"Y-m-d H:i" }}</td>
        <td>
            {{ s.upload }}
        </td>
        <td>
            {% if s.upload == '' or  s.upload == 'Processing' %}
            {% else %}
            <a class="nav-text" href="{{ s.upload.url }}" style="color: blue;">Download</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
